
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: red;
    border-bottom: 2px solid black;
}

.topnav a {
    color: black;
    padding: 14px 2px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
    top: 10px;
}

/*
.topnav a:hover {
    background-color: #aaa;
    color: white;
}*/

.topnav active {
    background-color: red;
    color: white;
}

.topnav input[type=text]{
    width: 25%;
    height: 30px;
    position: relative;
    top:1px;
}

.sidenav {
    position: absolute;
    overflow: hidden;
    background-color: Gray;
    border-right: 2px solid black;
    width: 25%;
    height: 100%;
    font-size: 22px;
    left: 0;
}

#projectList {
    padding-left: 1.2em;
    color: red;
}

.mainWindow {
    position: absolute;
    left: 25%;
    padding-left: 16px;
}

#sidenavPlus {
    position: fixed;
    bottom: 0px;
}
