body {
  background: #FFFFFF;
  margin: 0;
  font-family: "roboto", sans-serif;
}
  
/* box outline/padding */
.login-page {
  width: 360px;
  padding: 10%;
  margin: auto;
}
  
/* actual box */
.form {
  /*position: center;*/
  background: #FFFFFF;
  padding: 45px;
  text-align: center;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
  
/* input boxes */
.form input {
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
  width: 85%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  font-size: 14px;
}
  
/* login/"register?" button */
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: #a61c02;
  width: 80%;
  padding: 12.5px;
  color: #FFFFFF;
  border: none;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #a61c02;
  text-decoration: none;
}

.form .register-form {
  display: none;
}