<!DOCTYPE html>
<html>
    <head>
      <title> Todo-It </title>
      <meta name = "viewport" content = "width=device-width, initial-scale=1">
      {% load static %}
      <link rel = "shortcut icon" href = "">
      <link rel = "stylesheet" type = "text/css" href = "{% static 'task/css/home.css' %}">
    </head>

    <body>
        <!--topnav div is the top bar of the webpage-->
        <div class = "topnav"> 
            <!--These redirect to Home-->
            <a href = "{% url 'home' %}"> <img src = "{% static 'task/images/Logo (White).png' %}" height = 90px width = 200px align = "left"> </a>
            
            <div>
                <!--
                <a href = "{% url 'home' %}"> <img src = "{% static 'task/images/arrow.png' %}" height = 25px width = 25px> </a>-->
                
                <!--Search bar currently not functional
                <input type = "text" placeholder = "Search">-->
                
                <!-- Displays Username if signed in -->
                {% if user.is_authenticated %}
                    <b> Hello {{ user.username }}! </b>       
                {% endif %}
                <div class="dropdown">
                  <a id="user_pic"> <img src="{% static 'task/images/user.png' %}" height=40px width=40px align="right"></a>
                  <div id="thedropdown" class="dropdown-content">
                    <a id="thelogout" name="logoutbutton" type="submit" href="#" method=post>Logout</a>
                  </div>
                </div>

                <!--Redirects to login page-->
                <!-- <a href="{% url 'login' %}"> <img src="{% static 'task/images/user.png' %}" height=40px width=40px align="right"></a> -->

            </div>
            
        </div> <!--End Topnav-->
        
        <!--Sidebar displays projects that link to their own page-->
        <div class = "sidenav">
                <ul id="projectList">
                    {% for result in projects %}
                        <li> <span style="color:black"><a href="{% url 'projecthome' project=result.title %}" value="{{ result.title }}">{{ result.title }}</a></span></li>
                    {% endfor %}
                </ul>
            <!--Opens new Project window-->
            <button onclick="document.getElementById('id02').style.display='block'"><img src="{% static 'task/images/plus.png' %}" width=25% height=25% align="left" padding-right="1px"></button>
        </div>

        <!--MainWindow displays all tasks for a project or all tasks if on home-->
        <div class = "mainWindow">
            <!--Opens new task window-->
            <button onclick="document.getElementById('id01').style.display='block'"><img src="{% static 'task/images/plus.png' %}" width=25% height=25% align="right"></button>
            
            <!--Following buttons open collaborator/edit task windows-->
            <button onclick="document.getElementById('id07').style.display='block'">Export to Google Calendar</button>
            <button onclick="document.getElementById('id06').style.display='block'">Delete Project</button>
            <button onclick="document.getElementById('id05').style.display='block'">Edit Task</button>
            <button onclick="document.getElementById('id04').style.display='block'">Add Collaborator</button>
           
            <!--Form for various sort methods-->
            <div class="sorts">
                <form action= "{% url 'projecthome' project=currentproject %}" method="post">
                    Sort By: 
                    {% csrf_token %}
                    <input type="submit" name="sortadded" value="Date Added">
                    <input type="submit" name="sorttitle" value="Title">
                    <input type="submit" name="sortdo" value="Do-Date">
                    <input type="submit" name="sortdue" value="Due-Date">
                    <input type="submit" name="sortweek" value="Week View">
                    <input type="submit" name="sortday" value="Day View">
                </form>
            </div>
            
            <!--Displays all tasks if there is not a selected project-->
            {% if currentproject == "" %}
                <b>Home</b><br/><br/>
                {% if weekly == "Yes" %}
                    <b>Week View</b><br/><br/>
                {% endif %}
                {% if daily == "Yes" %}
                    <b>Day View</b><br/><br/>
                {% endif %}
                <!--Displays user's own tasks-->
                {% for result in tasks %}
                    {% if not result.is_sub %}
                        <div class="subprojects">
                            <!--Header contains title and delete button-->
                            <header class="subprojects-title">
                                <h2>{{result.title}}
                                <a href="{% url 'delete' delete=result.title name=result.title %}"><img src="{% static 'task/images/delete.png' %}" height=20px width=20px align="right"></a></h2>
                            </header>
                            <div class="subprojects-content">
                                Do-Date: {{result.do_date}}<br/>
                                Due-Date: {{result.due_date}}<br/>
                                Progress: {{result.progress}}<br/>
                                Description: {{result.description}}<br/>
                                Project: {{result.project}}<br/>
                                       
                                <!--Lists subtasks for given task-->        
                                Subtasks: 
                                {% for result2 in tasks %}
                                    {% if result2.is_sub %}
                                        {% if result2.parent == result.title %}
                                            {{result2.title}}<br/>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                
                <!--Lists all tasks shared with you by collaborators, sorted as above-->
                <br/><br/><b>Shared with You</b><br/><br/>
                {% for result in users %}
                    {% if not result.is_sub %}
                        <div class="subprojects">
                            <header class="subprojects-title">
                                <h2>{{result.title}}
                            </header>
                            <div class="subprojects-content">
                                Do-Date: {{result.do_date}}<br/>
                                Due-Date: {{result.due_date}}<br/>
                                Progress: {{result.progress}}<br/>
                                Description: {{result.description}}<br/>
                                Project: {{result.project}}<br/>
                                        
                                Subtasks: 
                                {% for result2 in tasks %}
                                    {% if result2.is_sub %}
                                        {% if result2.parent == result.title %}
                                            {{result2.title}}<br/>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
                
            <!--Displays as above but only for current project, no shared view for project-->
            {% if currentproject != "" %}
                <b>{{ currentproject }}</b><br/><br/>
                {% for result in tasks %}
                    {% if not result.is_sub %}
                        {% if result.project == currentproject %}
                            <div class="subprojects">
                                <header class="subprojects-title">
                                    <h2>{{result.title}}
                                <a href="{% url 'delete' delete=result.title name=result.title %}"><img src="{% static 'task/images/delete.png' %}" height=20px width=20px align="right"></a></h2>
                                </header>
                                <div class="subprojects-content">
                                    Do-Date: {{result.do_date}}<br/>
                                    Due-Date: {{result.due_date}}<br/>
                                    Progress: {{result.progress}}<br/>
                                    Description: {{result.description}}<br/>
                                            
                                    Subtasks: 
                                    {% for result2 in tasks %}
                                        {% if result2.is_sub %}
                                            {% if result2.parent == result.title %}
                                                {{result2.title}}<br/>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        
        
        <!--Forms new task, new project, add subtask, edit task, add collaborator
            Hidden by default with javascript, open as popups-->
        <div id="id01" class="modal">
            <div class="container">
             <form action="{% url 'home' %}" method="post">
              <h2><span class="h2">
                  New Task
              </span></h2>
                {% csrf_token %}
                {{ form|linebreaks }}
                <input name="tasksubmit" type="submit" value="Submit" />
                <button onclick="document.getElementById('id03').style.display = 'block'" type="button">></button>
              </div>
             </form>
            </div>
        </div>

        <div id="id02" class="modal">
            <div class="container">
              <form action="{% url 'home' %}" method="post">
              <h2><span class="h2">
                  New Project
              </span></h2>
                {% csrf_token %}
                {{ form2|linebreaks }}
                <input name='projectsubmit' type="submit" value="Submit" />
                </form>
            </div>
        </div>

        <div id="id03" class="modal">
            <div class="container">
              <form action="{% url 'home' %}" method="post">
              <h2><span class="h2">
                  New Subtask
              </span></h2>
                {% csrf_token %}
                {{ form3|linebreaks }}
              <div align="right">
                <input name="subtasksubmit" type="submit" value="Submit">
              </div>
              </form>
            </div>
        </div>
        
        <div id="id04" class="modal">
            <div class="container">
             <form action="{% url 'home' %}" method="post">
              <h2><span class="h2">
                  Add Collaborator
              </span></h2>
                {% csrf_token %}
                {{ form4|linebreaks }}
                <input name="collabsubmit" type="submit" value="Submit" />
              </div>
             </form>
            </div>
        </div>
        
        <div id="id05" class="modal">
            <div class="container">
             <form action="{% url 'home' %}" method="post">
              <h2><span class="h2">
                  Edit Task: Enter Title and New Details
              </span></h2>
                {% csrf_token %}
                {{ form|linebreaks }}
                <input name="taskedit" type="submit" value="Submit" />
              </div>
             </form>
            </div>
        </div>
        
        <div id="id06" class="modal">
            <div class="container">
             <form action="{% url 'home' %}" method="post">
              <h2><span class="h2">
                  Delete Project: Enter Title
              </span></h2>
                {% csrf_token %}
                {{ form5|linebreaks }}
                <input name="deleteproject" type="submit" value="Submit" />
              </div>
             </form>
            </div>
        </div>
        <div id="id07" class="modal">
            <div class="container">
             <form action="{% url 'home' %}" method="post">
              <h2><span class="h2">
                  Export Task: Enter Title
              </span></h2>
                {% csrf_token %}
                {{ form5|linebreaks }}
                <input name="export" type="submit" value="Submit" />
              </div>
             </form>
            </div>
        </div>
        <script type = "text/javascript" src="{% static 'task/js/home.js' %}"></script>
    </body>
</html>