<!DOCTYPE html>
<html>
    <head>
      <title>Todo-It</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% load static %}
      <link rel="shortcut icon" href="">
      <link rel="stylesheet" type="text/css" href="{% static 'task/css/home.css' %}">
    </head>

    <body>
        <div class="topnav">
            <a class="active" href="home"><img src="{% static 'task/images/Logo (White).png' %}" height=90px width=200px align="left"></a>
            <div class="active">
                <a class="active" href="home"><img src="{% static 'task/images/arrow.png' %}" height =25px width=25px></a>
                <input type="text" placeholder="Search">
               <!-- Use this to show username: https://docs.djangoproject.com/en/dev/topics/auth/default/#users -->
                {% if user.is_authenticated %}
                    <b>Hello {{ user.username }}!</b>       
                {% endif %}
                <div class="dropdown">
                  <a id="user_pic"> <img src="{% static 'task/images/user.png' %}" height=40px width=40px align="right"></a>
                  <div id="thedropdown" class="dropdown-content">
                    <a id="thelogout" name="logoutbutton" type="submit" href="#" method=post>Logout</a>
                  </div>
                </div>
            </div>
        </div>

        <div class = "sidenav">
                <ul id="projectList">
                    {% for result in projects %}
                    <li> <span id="res_project" style="color:black">{{ result.title }}</span></li>
                    {% endfor %}
                </ul><!--Below needs to be modified for project. Right now it also opens new task-->
            <button onclick="document.getElementById('id02').style.display='block'"><img src="{% static 'task/images/plus.png' %}" width=25% height=25% align="left" padding-right="1px"></button>
        </div>

        <div class = "mainWindow">
            <button onclick="document.getElementById('id01').style.display='block'"><img src="{% static 'task/images/plus.png' %}" width=25% height=25% align="right"></button>
            
            <button onclick="document.getElementById('sortadded').style.display='block';document.getElementById('sorttitle').style.display='none';
            document.getElementById('sortdo').style.display='none';document.getElementById('sortdue').style.display='none'">Date Added</button>
           
            <button onclick="document.getElementById('sortadded').style.display='none';document.getElementById('sorttitle').style.display='block';
            document.getElementById('sortdo').style.display='none';document.getElementById('sortdue').style.display='none'">Title</button>
           
            <button onclick="document.getElementById('sortadded').style.display='none';document.getElementById('sorttitle').style.display='none';
            document.getElementById('sortdo').style.display='block';document.getElementById('sortdue').style.display='none'">Do-Date</button>
           
            <button onclick="document.getElementById('sortadded').style.display='none';document.getElementById('sorttitle').style.display='none';
            document.getElementById('sortdo').style.display='none';document.getElementById('sortdue').style.display='block'">Sort By: Due-Date</button>
             
             <div id="sortadded" class = "sortadded">
             {% for result in tasks %}
             {% if not result.is_sub %}
             <div class="subprojects">
                        <header class="subprojects-title">
                            <!--<span onclick="document.getElementById('id01').style.display='none'"
                            class="w3-button w3-display-topright">&times;</span>-->
                        <h2>{{result.title}}</h2>
                        </header>
                        <div class="subprojects-content">
                            Do-Date: {{result.do_date}}<br/>
                            Due-Date: {{result.due_date}}<br/>
                            Progress: {{result.progress}}<br/>
                            Description: {{result.description}}<br/>
                            User: {{result.user.username}}<br/>
                            
                            Subtasks: 
                            {% for result2 in tasks %}
                                {% if result2.is_sub %}
                                    {{result2.project}}
                                    {% if result2.parent == result.title %}
                                        {{result2.title}}<br/>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <ul id="taskList">
                    </div>
                </div>
            {% endif %}
             {% endfor %}
             </div>
             <div id="sorttitle" class="sorttitle">
             {% for result in tasks|dictsort:"title" %}
             <div class="subprojects">
                        <header class="subprojects-title">
                            <!--<span onclick="document.getElementById('id01').style.display='none'"
                            class="w3-button w3-display-topright">&times;</span>-->
                        <h2>{{result.title}}</h2>
                        </header>
                        <div class="subprojects-content">
                            Do-Date: {{result.do_date}}<br/>
                            Due-Date: {{result.due_date}}<br/>
                            Progress: {{result.progress}}<br/>
                            Description: {{result.description}}<br/>
                            User: {{result.user.username}}<br>
                            
                            Subtasks: 
                            {% for result2 in tasks %}
                                {% if result2.is_sub %}
                                    {% if result2.parent == result.title %}
                                        {{result2.title}}<br/>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <ul id="taskList">
                    </div>
                </div>
             {% endfor %}
             </div>
             <div id="sortdo" class = "sortdo">
             {% for result in tasks|dictsort:"do_date" %}
             <div class="subprojects">
                        <header class="subprojects-title">
                            <!--<span onclick="document.getElementById('id01').style.display='none'"
                            class="w3-button w3-display-topright">&times;</span>-->
                        <h2>{{result.title}}</h2>
                        </header>
                        <div class="subprojects-content">
                            Do-Date: {{result.do_date}}<br/>
                            Due-Date: {{result.due_date}}<br/>
                            Progress: {{result.progress}}<br/>
                            Description: {{result.description}}<br/>
                            User: {{result.user.username}}<br/>
                            
                            Subtasks: 
                            {% for result2 in tasks %}
                                {% if result2.is_sub %}
                                    {% if result2.parent == result.title %}
                                        {{result2.title}}<br/>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <ul id="taskList">
                        </div>
              </div>
             {% endfor %}
             </div>
             <div id="sortdue" class = "sortdue">
             {% for result in tasks|dictsort:"due_date" %}
             <div class="subprojects">
                        <header class="subprojects-title">
                            <!--<span onclick="document.getElementById('id01').style.display='none'"
                            class="w3-button w3-display-topright">&times;</span>-->
                        <h2>{{result.title}}</h2>
                        </header>
                        <div class="subprojects-content">
                            Do-Date: {{result.do_date}}<br/>
                            Due-Date: {{result.due_date}}<br/>
                            Progress: {{result.progress}}<br/>
                            Description: {{result.description}}<br/>
                            User: {{result.user.username}}<br/>
                            
                            Subtasks: 
                            {% for result2 in tasks %}
                                {% if result2.is_sub %}
                                    {% if result2.parent == result.title %}
                                        {{result2.title}}<br/>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            <ul id="taskList">
                    </div>
              </div>
             {% endfor %}
             </div>
        </div>



        <div id="id01" class="modal">
            <div class="container">
             <form action="home" method="post">
              <h2><span class="h2">
                  New Task
              </span></h2>

                {% csrf_token %}
                {{ form }}
                <input name="tasksubmit" type="submit" value="Submit" />
                <button onclick="document.getElementById('id03').style.display = 'block'" type="button">></button>
              </div>
             </form>
            </div>
        </div>


        <div id="id02" class="modal">
            <div class="container">
              <form action="home" method="post">
              <h2><span class="h2">
                  New Project
              </span></h2>
                {% csrf_token %}
                {{ form2 }}
                <input name='projectsubmit' type="submit" value="Submit" />
                </form>
            </div>
        </div>

        <div id="id03" class="modal">
            <div class="container">
              <form action="home" method="post">
              <h2><span class="h2">
                  New Subtask
              </span></h2>
                {% csrf_token %}
                {{ form3 }}
              <div align="right">
                <input name="subtasksubmit" type="submit" value="Submit">
              </div>
              </form>
            </div>
        </div>

        
        <script>
            function myFunction() {
                var x = document.getElementById("myDIV");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } 
                // else {
                //     x.style.display = "none";
                // }   
                var y = document.getElementById("id02");
                if (y.style.display === "block") {
                    y.style.display = "none";
                }

              <label for="dodate"><b>Do Date</b></label>
              <input type="date" name="dodate" required>

              <label for="duedate"><b>&nbsp Due Date</b></label>
              <input type="date" name="duedate" required> <br/><br/>

              <label for="progress"><b>Progress</b></label>
              <select name="progress">
                  <option value="notstarted">Not Started</option>
                  <option value="inprogress">In Progress</option>
                  <option value="done">Done</option>
                </select>
                <br/> <br/>

              <label for="desc"><b>Description</b></label><br/>
              <div class = "description">
                  <input type="text" placeholder="Enter Description" name="desc" required><br/><br/>
              </div>

              <label><b>Tags</b></label><br/><br/>

              <div align="right">
                <button type="submit">Done</button>
                <button onclick='foo();' type="button">></button>
              </div>
            </div>
        </div>
        <script>
            function myFunction() {
                var x = document.getElementById("myDIV");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } 
                // else {
                //     x.style.display = "none";
                // }   
                var y = document.getElementById("id02");
                if (y.style.display === "block") {
                    y.style.display = "none";
                }
            }
            function newTask() {
                var x = document.getElementById("myTasks");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } 
                // else {
                //     x.style.display = "none";
                // }   
                var y = document.getElementById("id01");
                if (y.style.display === "block") {
                    y.style.display = "none";
                }
            }
        </script>
        <script type = "text/javascript" src="{% static 'task/js/home.js' %}"></script>
    </body>
</html>
