<!DOCTYPE html>
<html>
    <head>
        <title>Todo-It</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'task/css/home.css' %}">
    </head>

    <body>
        <div class="topnav">
            <a class="active" href="home.html"><img src="{% static 'task/images/Logo (White).png' %}" height=90px width=200px align="left"></a>
            <div style="text-align: center;" >
                <a class="active" href="home.html"><img src="{% static 'task/images/arrow.png' %}" height =25px width=25px></a>
                <input type="text" placeholder="Search...">
                <a class="active" href="login.html"> <img src="{% static 'task/images/user.png' %}" height=40px width=40px align="right" ></a>
            </div>
        </div>

        <div class = "sidenav">
            <ul id="projectList">
                <li> <span style="color:black">Project 1</span></li>
                <li> <span style="color:black">Project 2</span></li>
                <li> <span style="color:black">Project 3</span></li>
            </ul><!--Below needs to be modified for project. Right now it also opens new task-->
            <button onclick="document.getElementById('id02').style.display='block'"><img src="{% static 'task/images/plus.png' %}" width=25% height=25% align="left" padding-right="1px"></button>
        </div>

        <div class = "mainWindow">
            <button onclick="document.getElementById('id01').style.display='block'"><img src="{% static 'task/images/plus.png' %}" width=25% height=25% align="right"></button>
            <h5><span style="font-weight: normal">Project 1</span></h5>
            <p>
                <div class="subprojects">
                    <header class="subprojects-title">
                        <!--<span onclick="document.getElementById('id01').style.display='none'"
                        class="w3-button w3-display-topright">&times;</span>-->
                        <h2>Sprints</h2>
                    </header>
                    <div class="subprojects-content">
                        <ul id="subprojectList">
                            <li> <span style="color:black">Sprint 1</span></li>
                            <li> <span style="color:black">Sprint 2</span></li>
                        </ul>
                        <ul id="taskList">
                            <form action="">
                                <li> <input type="checkbox" name="task" value="1">Acquire sprint schedule<br></li>
                                <li> <input type="checkbox" name="task" value="2">Read sprint guidelines<br></li>
                            </form>
                        </ul>
                    </div>
                </div>
            </p>
        </div>



        <div id="id01" class="modal">
            <div class="container">
              <h2><span class="h2">
                  New Task
              </span></h2>

              <label for="title"><b>Title</b></label><br/>
              <input type="text" placeholder="Enter Title" name="title" required> <br/><br/>

              <label for="dodate"><b>Do Date</b></label>
              <input type="date" name="dodate" required>

              <label for="duedate"><b>&nbsp Due Date</b></label>
              <input type="date" name="duedate" required> <br/><br/>

              <label for="progress"><b>Progress</b></label>
              <select name="progress">
                  <option value="notstarted">Not Started</option>
                  <option value="inprogress">In Progress</option>
                  <option value="done">Done</option>
                </select>
                <br/> <br/>

              <label for="desc"><b>Description</b></label><br/>
              <div class = "description">
                  <input type="text" placeholder="Enter Description" name="desc" required><br/><br/>
              </div>

              <label><b>Tags</b></label><br/><br/>

              <div align="right">
                <button type="submit">Done</button>
                <button onclick="document.getElementById('id03').style.display = 'block'" type="button">></button>
              </div>
            </div>
        </div>


        <div id="id02" class="modal">
            <div class="container">
              <h2><span class="h2">
                  New Project
              </span></h2>

              <label for="title"><b>Title</b></label><br/>
              <input type="text" placeholder="Enter Title" name="title" required> <br/><br/>

              <label for="duedate"><b>&nbsp Due Date</b></label>
              <input type="date" name="duedate" required> <br/><br/>

              <label for="progress"><b>Progress</b></label>
              <select name="progress">
                  <option value="notstarted">Not Started</option>
                  <option value="inprogress">In Progress</option>
                  <option value="done">Done</option>
                </select>
                <br/> <br/>

               <label for="parentProject"><b>Project</b></label>
                  <select name="project">
                  <option value="Project 1">Project 1</option>
                  <option value="Project 2">Project 2</option>
                  <option value="Project 3">Project 3</option>
                </select>
                <br/> <br/>

              <label for="desc"><b>Description</b></label><br/>
              <div class = "description">
                  <input type="text" placeholder="Enter Description" name="desc" required><br/><br/>
              </div>

              <label><b>Tags</b></label><br/><br/>

              <div align="right">
                <button type="submit">Done</button>
                <button type="button">></button>
              </div>
            </div>
        </div>
        
        <div id="id03" class="modal">
            <div class="container">
              <h2><span class="h2">
                  New Subtask
              </span></h2>

              <label for="title"><b>Title</b></label><br/>
              <input type="text" placeholder="Enter Title" name="title" required> <br/><br/>

              <label for="dodate"><b>Do Date</b></label>
              <input type="date" name="dodate" required>

              <label for="duedate"><b>&nbsp Due Date</b></label>
              <input type="date" name="duedate" required> <br/><br/>

              <label for="progress"><b>Progress</b></label>
              <select name="progress">
                  <option value="notstarted">Not Started</option>
                  <option value="inprogress">In Progress</option>
                  <option value="done">Done</option>
                </select>
                <br/> <br/>

              <label for="desc"><b>Description</b></label><br/>
              <div class = "description">
                  <input type="text" placeholder="Enter Description" name="desc" required><br/><br/>
              </div>

              <label><b>Tags</b></label><br/><br/>

              <div align="right">
                <button type="submit">Done</button>
                <button onclick='foo();' type="button">></button>
              </div>
            </div>
        </div>






        <script>
        // Get the modal
        var modal = document.getElementById('id01');
        var modal2 = document.getElementById('id02');
        var modal3 = document.getElementById('id03');
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
            if(event.target == modal2){
                modal2.style.display = "none";
            }
            if(event.target == modal3){
                modal3.style.display = "none";
            }
        }
        </script>
    </body>
</html>
